/*GENERELT*/

body {
    margin: 0 auto;
    border: 10px solid #D7863A;
}

h1,
h2 {
    font-family: 'Eczar', serif;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
}



/*NAV*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 59px 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

nav #logo {
    background-image: url(billeder/SVG/logo.svg);
    width: 20vw;
    height: 9vw;
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90px;
    left: 50%;
}

#left {
    float: left;
}

#right {
    float: right;
}


#burger {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

#lillelogo {
    background-image: url(billeder/SVG/logo.svg);
    width: 250px;
    height: 80px;
    background-repeat: no-repeat;
}

.dropbtn {
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn div {
    width: 35px;
    height: 3px;
    background-color: #8B3A09;
    margin: 6px 0;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    max-width: 110px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: 'Raleway', sans-serif;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}





/*FORSIDE*/

#dish {
    background-image: url(billeder/SVG/cirkel.svg);
    width: 70vw;
    height: 70vw;

}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 60px;
}

#content a {
    color: black;
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    cursor: pointer;
}

#content ul {
    display: flex;
    flex-direction: row;
}

#content li {
    margin: 10px;
}

#content li:first-child {
    list-style: none;
}




/*HISTORIE*/

#historie {
    max-width: 70%;
    text-align: justify;
    margin: 50px;
}

#food {
    background-image: url(mad/mad.jpg);
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
}




/*MENU*/


#liste {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 5vw;
}

.retter {
    margin: 4px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.retter img {
    object-fit: contain;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: flex;
    justify-content: center;
}

#readmore p {
    font-family: 'Eczar', serif;
}

button {
    margin: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #8B3A09;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #8B3A09;
    color: white;
}

.valgt {
    background-color: #8B3A09;
    color: white;
}

#popup {
    width: 70vw;
    height: 85vh;
    position: fixed;
    background-color: white;
    border: 2px solid goldenrod;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#indhold {
    box-sizing: border-box;
    background-color: white;
    width: 60vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#indhold img {
    object-fit: contain;
    width: 100%;
    height: 300px;
}

#luk {
    box-sizing: border-box;
    text-align: right;
}

#luk button {
    font-size: 2em;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-right: 15px;
}

#luk button:hover {
    color: indianred;
}

#readmore {
    cursor: pointer;
}





/*RESERVATION*/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-family: 'Raleway', sans-serif;
}

input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: 1px solid #8B3A09;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #8B3A09;
    color: white;
}

#date input {
    padding: 10px;
    width: 15%;
    border: 1px solid black;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
    width: 70%;
    margin-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}




/*LOKATION*/

#locations {
    margin-bottom: 50px;
}




/*MEDIAQUERIES*/

@media only screen and (max-width: 700px) {
    nav {
        display: none
    }

    #burger {
        display: flex;
    }

    h1,
    h2 {
        font-size: 1.4rem;
    }

    #content ul {
        display: none;
    }

    #content {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #historie {
        max-width: 90%;
        margin: 10px;
        margin-top: 0;
    }

    #food {
        margin-top: 0;
        height: 220px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu button {
        margin: 3px;
        width: 80px;
    }

    #liste {
        margin: 0;
    }

    .retter {
        margin: 0;
        width: 90%;
    }

    .retter img {
        height: 200px;
        margin: 0;
    }
}
